@import "/public/common/mini-reset.css";
@import "/src/theme.css";
@import "/public/common/a11y.css";

.component-page {
  background-color: var(--contents-tertiary-color);
  margin: var(--space-20);
}

h1 {
  color: var(--contents-color);
  margin-block: var(--space-32);

  &::before {
    content: "🎁";
    margin-inline-end: var(--space-8);
  }

  strong {
    font-size: var(--space-16);

  }
}

.board-section {
  --columns: 1;

  color: var(--contents-primary-color);
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(350px, 1fr));
  gap: var(--space-32);

  @media (min-width: 48rem) {
    --columns: 2;
  }

  @media (min-width: 80rem) {
    --columns: 4;
  }


  .wrapper {
    background-color: var(--foundation-background-color);
    padding: var(--space-16);
    border-radius: var(--space-8);

    h2 {
      margin-block: var(--space-16);
      color: var(--contents-primary-color);
      font-size: var(--space-28);

      &::before {
        content: "🍄";
        margin-inline-end: var(--space-8);
      }
    }

    ul {
      columns: 2;
      column-rule: 1px solid var(--contents-tertiary-color);
      column-gap: var(--space-64);
      list-style-type: none;
    }

    li {
      margin-block: var(--space-8);
    }

    .box-board-inforitems--fullpeople,
    .box-board-inforitems--calendar,
    .box-board-person {
      height: var(--space-16);
      display: flex;
      align-items: center;
      margin-bottom: var(--space-4);

      .text-board-inforitems,
      .text-board-person {
        height: 100%;
        color: var(--contents-tertiary-color);
        margin-left: var(--space-2);
      }
    }

    .box-board-personver2,
    .box-board-personver3 {
      height: var(--space-16);
      display: flex;
      align-items: center;
      overflow: hidden;
      /* background: pink; */

      .text-board-personver2,
      .text-board-personver3 {
        /* height: 100%; */
        align-self: baseline;
        color: var(--contents-primary-color);
        font: var(--font-lg-16);
        margin-left: var(--space-8);
        /* background: blue; */
      }
    }

    /* board/withUs */
    .component-box--badge,
    .box-board-withus--badge {
      width: var(--space-56);
      height: var(--space-16);
      background: var(--contents-tertiary-color);
      border-radius: var(--space-4);
      padding: 0 var(--space-4);
      color: var(--contents-color);
      /* text-align: center; */

      &>span>p {
        display: inline-flex;
      }
    }

    /* board/boardField */
    .together-wrapper-board-boardField {
      width: 19.9375rem;
      height: 7.875rem;
      border: 1px solid var(--contents-primary-color);
      margin: var(--space-8) 0 var(--space-4);
      padding: var(--space-12);
      position: relative;

      .badge-board-boardField {
        width: var(--space-56);
        height: var(--space-16);
        background: var(--contents-tertiary-color);
        border-radius: var(--space-4);
        padding: 0 var(--space-4);
        color: var(--contents-color);
        text-align: center;
      }

      .box-board-boardField {
        margin-top: var(--space-4);
      }

      &>div.box-board-personver3 {
        position: absolute;
        bottom: var(--space-12);
        right: var(--space-12);
        /* color: var(--contents-secondary-color); */

        &>span {
          margin-left: var(--space-8);
          color: var(--contents-secondary-color);
        }
      }
    }

    .box-board-theme {
      display: flex;
      align-items: center;

      .img-board-theme {
        width: var(--space-36);
        height: var(--space-36);
        border-radius: var(--space-4);
        background: #525151;
        margin: 0 var(--space-8) 0 0;
      }
    }

    .box-board-themever2 {
      display: flex;
      align-items: center;

      .img-board-themever2 {
        width: var(--space-56);
        height: var(--space-56);
        border-radius: var(--space-4);
        background: #525151;
        margin: 0 var(--space-8) 0 0;
      }
    }

    .emoji-board-emogi {
      width: var(--space-56);
      height: var(--space-56);
      border-radius: var(--space-52);
      background: var(--dark-contents-secondary-color);
      display: grid;
      padding: 0 var(--space-16);

      >span {
        grid-area: 1 / 1 / 2/ 2;
        place-self: center;
      }
    }
  }
}

.visually-hidden {
  display: none;
}