/* src/styles/component-start.css */
@import "/src/style.css";

/* component page style */
.component-page,
.start-section {
  background-color: var(--foundation-background-color);
  color: var(--contents-secondary-color);
  font: var(--font-family);
}

.start-section {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(280px, 1fr));

  @media (min-width: 48rem) {
    --columns: 2;
  }

  @media (min-width: 80rem) {
    --columns: 4;
  }
}
.icon-wrapper,
.logo-wrapper,
.group {
  padding: 1rem;

  ul {
    columns: 2;
    column-rule: 1px solid currentColor;
    column-gap: 4rem;
    list-style-type: none;
  }
  li {
    margin-block: 0.5rem;
  }
}

.page-title {
  margin: var(--space-12);
  font-size: var(--font-2xl-32);
}

.title-section {
  font-size: var(--font-xl-24);

  &::before {
    content: "🍄";
    margin-inline-end: 0.5rem;
  }
}

.icon-wrapper,
.logo-wrapper {
  border: 1px solid var(--contents-primary-color);
  border-radius: var(--spacing-sm);
  margin: var(--spacing-sm);
}
