@import '/public/common/mini-reset.css';
@import '/src/theme.css';
@import '/public/common/a11y.css';

.visually-hidden {
  display: none;
}

.component-page {
  background-color: var(--contents-tertiary-color);
  margin: var(--space-20);
}

h1 {
  color: var(--contents-color);
  margin-block: var(--space-32);

  &::before {
    content: '🎁';
    margin-inline-end: var(--space-8);
  }

  strong {
    font-size: var(--space-16);
  }
}

.board-section {
  --columns: 1;

  color: var(--contents-primary-color);
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(500px, 1fr));
  gap: var(--space-32);

  @media (min-width: 48rem) {
    --columns: 2;
  }

  @media (min-width: 80rem) {
    --columns: 4;
  }

  .wrapper {
    background-color: var(--foundation-background-color);
    padding: var(--space-16);
    border-radius: var(--space-8);

    h2 {
      margin-block: var(--space-16);
      color: var(--contents-primary-color);
      font-size: var(--space-28);

      &::before {
        content: '🍄';
        margin-inline-end: var(--space-8);
      }
    }

    ul {
      columns: 2;
      column-rule: 1px solid var(--contents-tertiary-color);
      column-gap: var(--space-64);
      list-style-type: none;
    }

    li {
      margin-block: var(--space-8);
    }

    .box-board-inforitems--fullpeople,
    .box-board-inforitems--calendar,
    .box-board-person {
      height: var(--space-16);
      display: flex;
      align-items: center;
      margin-bottom: var(--space-4);

      .text-board-inforitems,
      .text-board-person {
        height: 100%;
        color: var(--contents-tertiary-color);
        margin-left: var(--space-2);
      }
    }

    .box-board-personver2,
    .box-board-personver3 {
      height: var(--space-16);
      display: flex;
      align-items: center;
      overflow: hidden;
      /* background: pink; */

      .text-board-personver2,
      .text-board-personver3 {
        /* height: 100%; */
        align-self: baseline;
        color: var(--contents-primary-color);
        font: var(--font-lg-16);
        margin-left: var(--space-8);
        /* background: blue; */
      }
    }

    /* board/withUs */
    .component-box--badge,
    .box-board-withus--badge {
      width: var(--space-56);
      height: var(--space-16);
      background: var(--contents-tertiary-color);
      border-radius: var(--space-4);
      padding: 0 var(--space-4);
      color: var(--contents-color);
      /* text-align: center; */

      & > span > p {
        display: inline-flex;
      }
    }

    /* board/boardField */
    .together-wrapper-board-boardField {
      width: 19.9375rem;
      height: 7.875rem;
      border: 1px solid var(--contents-primary-color);
      margin: var(--space-8) 0 var(--space-4);
      padding: var(--space-12);
      position: relative;

      .badge-board-boardField {
        width: var(--space-56);
        height: var(--space-16);
        background: var(--contents-tertiary-color);
        border-radius: var(--space-4);
        padding: 0 var(--space-4);
        color: var(--contents-color);
        text-align: center;
      }

      .box-board-boardField {
        margin-top: var(--space-4);
      }

      & > div.box-board-personver3 {
        position: absolute;
        bottom: var(--space-12);
        right: var(--space-12);
        /* color: var(--contents-secondary-color); */

        & > span {
          margin-left: var(--space-8);
          color: var(--contents-secondary-color);
        }
      }
    }

    /* board/theme 36x36 */
    .box-board-theme {
      display: flex;
      align-items: center;

      .img-board-theme {
        width: var(--space-36);
        height: var(--space-36);
        border-radius: var(--space-4);
        background: var(--contents-secondary-color);
        margin: 0 var(--space-8) 0 0;
      }
    }

    /* board/themever2 56x56 */
    .box-board-themever2 {
      display: flex;
      align-items: center;

      .img-board-themever2 {
        width: var(--space-56);
        height: var(--space-56);
        border-radius: var(--space-4);
        background: var(--contents-secondary-color);
        margin: 0 var(--space-8) 0 0;
      }
    }
  }
}

/* board/emogi - only동그라미 */
.emoji-board-emogi {
  width: var(--space-56);
  height: var(--space-56);
  border-radius: var(--space-56);
  background: var(--dark-contents-secondary-color);
  display: grid;
  padding: 0 var(--space-12);

  > span {
    grid-area: 1 / 1 / 2/ 2;
    place-self: center;
  }
}

/* board/allButton 조직체 checkbox 구현 예시 */
fieldset {
  border: none;
}

.box-board-allbutton {
  display: grid;
  grid-template-columns: minmax(6.75rem) 1fr;
  gap: var(--space-4);
  place-items: center;

  .box-board-emogi {
    width: var(--space-56);
    text-align: center;
  }

  /* 체크박스 숨김 */
  .box-board-emogi input[type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .emoji-board-emogi {
    width: var(--space-56);
    height: var(--space-56);
    border-radius: var(--space-52);
    background: var(--dark-contents-secondary-color);
    padding: 0 var(--space-12);
    border: 2px solid transparent;
  }

  /* Active 상태 스타일 */
  .box-board-emogi input[type='radio']:checked + .emoji-board-emogi {
    border: 2px solid var(--foundation-secondary-color);
    padding: 0 var(--space-12);
  }

  /* 같은 부모 내에서 input[type="radio"]:checked 뒤에 위치하는 모든 .text-board-emogi 요소를 선택 */
  .box-board-emogi input[type='radio']:checked ~ .text-board-emogi {
    color: var(--foundation-secondary-color);
  }
}

/* board/participation */
.box-board-participation {
  display: flex;
  align-items: center;

  .img-board-participation {
    width: var(--space-20);
    height: var(--space-20);
    border-radius: var(--space-56);
    background: var(--dark-contents-secondary-color);
    margin: 0 var(--space-8) 0 0;
  }

  & > span {
    color: var(--dark-contents-secondary-color);
  }
}

/* board/participation&time */
.box-board-participationntime {
  display: flex;
  align-items: center;
  border: 0.05rem solid var(--dark-contents-secondary-color);
  position: relative;

  .img-board-participationntime {
    width: var(--space-20);
    height: var(--space-20);
    border-radius: var(--space-56);
    background: var(--dark-contents-secondary-color);
    margin: 0 var(--space-8) 0 0;
  }

  & > span {
    color: var(--dark-contents-secondary-color);
  }

  .time-board-participationntime {
    position: absolute;
    right: var(--space-2);
  }
}

/* board/partIn */
.box-board-partin {
  margin: var(--space-8) 0 var(--space-4);

  .button-board-partin {
    width: 18.5rem;
    height: var(--space-44);
    border-radius: var(--space-12);
    border: none;
    background: var(--dark-foundation-secondary-color);
    color: var(--foundation-background-color);

    .img-board-themever2 {
      border-radius: var(--space-4);
      background: var(--contents-secondary-color);
      margin: 0 var(--space-8) 0 0;
    }
  }
}

/* board/OrganizerProfile */
.box-board-organizerprofile {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  width: 7.125rem;
  height: 100%;
  height: var(--space-36);
  padding: var(--space-2);
  gap: var(--space-2);

  & > span,
  .text-board-organizerprofile--count {
    padding-left: var(--space-8);
  }

  .img-board-organizerprofile {
    width: var(--space-32);
    height: var(--space-32);
    border-radius: var(--space-56);
    background: var(--contents-secondary-color);
    grid-row: 1 / span 2;
    text-align: center;
    margin: var(--space-2) 0;
  }

  .text-board-organizerprofile--id {
    align-self: last baseline;
    line-height: 1.5;
    /* 형석님 감사해요감사해요👍 */
  }

  .organizer-box-board {
    display: flex;
    justify-content: center;

    .icon-board-organizer {
      display: flex;
      align-items: center;
      align-self: last baseline;

      & > p {
        margin-left: var(--space-2);
        color: var(--contents-secondary-color);
      }
    }
  }

  .text-board-organizerprofile--count {
    line-height: normal;
    color: var(--contents-secondary-color);
  }
}

/* board/minusButton */
.button-board-minusbutton {
  width: var(--space-16);
  height: var(--space-16);
  border-radius: var(--space-52);
  border: 0.0625rem solid var(--contents-primary-color);
  display: grid;
  padding: 0;

  & > svg {
    place-self: center;
  }
}

/* board/toggle */
.toggle-switch {
  display: inline-flex;
  width: var(--space-44);
  inline-size: var(--space-24);
  aspect-ratio: 2/1;
  border: 1px solid var(--contents-secondary-color);
  border-radius: calc(var(--space-44) / 2);
  background: var(--contents-secondary-color);
  position: relative;
  transition: background 0.3s;

  &:has(:checked) {
    background: var(--foundation-secondary-color);
    border: 1px solid var(--foundation-secondary-color);
  }

  &:has(:focus-visible) {
    box-shadow: 0 0 0 1px var(--dark-foundation-secondary-color);
  }

  input {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
  }

  label {
    width: calc(50% - 1px);
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--foundation-background-color);
    border-radius: 50%;
    transition: translate 0.3s;
  }

  input:checked + label {
    translate: calc(100% + 2px) 0;
  }
}

/* board/partin - 참여하기 버튼 */
.box-board-sendmessage {
  margin: var(--space-8) 0 var(--space-4);
  position: relative;
  width: 18.5rem;

  input {
    width: 100%;
    height: var(--space-40);
    border-radius: var(--space-56);
    padding: var(--space-8) var(--space-12);
    color: var(--contents-secondary-color);
    border: none;
    /* 예외 적용 */
    background: #ebecf0;
    /* 예외 적용 */

    &:active {
      border: 0.0437rem solid var(--dark-foundation-tertiary-color);
    }
  }

  .icon-board-smile {
    position: absolute;
    right: var(--space-16);
    top: 0.6563rem;
  }
}

/* Q&A/info */
.box-board-qnainfo {
  /* display: grid; */
  /* grid-template-columns: 1.875rem 1fr;
  grid-template-rows: auto auto; */
  /* width: 18.5rem; */
  width: 18.5rem;
  height: var(--space-60) / 2;
  background: var(--foundation-tertiary-color);
  opacity: 0.7;
  border-radius: var(--space-12);
  padding: var(--space-12) var(--space-16);
  margin: var(--space-8) 0 var(--space-4);

  & > p,
  .text-board-qnainfo--guide,
  .text-board-qnainfo--policy {
    color: var(--foundation-background-color);
  }

  .text-board-qnainfo--guide {
    margin-right: var(--space-4);
    text-align: right;
    font-weight: 600;
    position: absolute;
  }

  .text-board-qnainfo--policy {
    text-indent: var(--space-24);
  }
}

/* Q&A/finished */
.box-board-finished--switch {
  --switch-active-color: var(--contents-primary-color, #000);
  --switch-inactive-color: var(--contents-secondary-color, #999);

  position: relative;
  display: inline-flex;
  justify-content: end;
  width: var(--space-32);
  inline-size: var(--space-32);

  input {
    position: absolute;
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    inline-size: 100%;
    block-size: 100%;
    appearance: none;
  }

  label {
    display: contents;

    &::after {
      content: '확인';
      color: var(--switch-inactive-color);
    }
  }

  input:checked + label::after {
    content: '확인';
    color: var(--switch-active-color);
  }
}

/* Q&A/profile&nickName */
.box-board-profilennickname {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  width: 7.125rem;
  /* height: 100%; */
  height: var(--space-48);
  /* padding: var(--space-2); */
  gap: var(--space-2);

  & > span,
  .text-board-profilennickname--content {
    padding-left: var(--space-8);
  }

  .img-board-profilennickname {
    width: var(--space-44);
    height: var(--space-44);
    border-radius: var(--space-56);
    background: var(--contents-secondary-color);
    grid-row: 1 / span 2;
    text-align: center;
    margin: var(--space-2) 0;
  }

  .text-board-profilennickname--id {
    align-self: last baseline;
    line-height: 1.4;
  }

  .text-board-profilennickname--info {
    display: flex;
    align-self: last baseline;
  }

  .text-board-profilennickname--content {
    line-height: normal;
    color: var(--contents-secondary-color);
  }
}

/* Q&A/message - right side */
.box-board-message {
  width: 19.6875rem;
  display: flex;
  margin: var(--space-8) 0 var(--space-4);

  .text-board-message {
    max-width: 15.5rem;
    height: var(--space-38);
    background: var(--foundation-tertiary-color);
    border-radius: var(--space-20);
    padding: var(--space-12) var(--space-20);
  }

  .time-board-message--right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: var(--space-4);
  }
}

/* Q&A/message - left side */
.box-board-message {
  width: 19.6875rem;
  display: flex;
  margin: var(--space-8) 0 var(--space-4);

  .text-board-message {
    max-width: 15.5rem;
    height: var(--space-38);
    background: var(--foundation-tertiary-color);
    border-radius: var(--space-20);
    padding: var(--space-12) var(--space-20);
  }

  .time-board-message--left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: var(--space-4);
  }
}

/* Q&A/img&text */
.box-board-imgntext {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  width: 7.125rem;
  /* height: 100%; */
  height: var(--space-40);
  /* padding: var(--space-2); */
  gap: var(--space-2);
  line-height: 0;

  & > span,
  .text-board-imgntext--content {
    padding-left: var(--space-8);
  }

  .img-board-imgntext {
    width: var(--space-36);
    height: var(--space-36);
    border-radius: var(--space-4);
    background: var(--contents-secondary-color);
    grid-row: 1 / span 2;
    justify-content: center;
    align-items: center;
    margin: var(--space-2) 0;
  }

  .text-board-imgntext--id {
    align-self: last baseline;
    line-height: 1.5;
  }

  .text-board-imgntext--info {
    display: flex;
    align-self: last baseline;
    color: var(--contents-secondary-color);
  }

  .text-board-imgntext--content {
    line-height: normal;
  }
}

/* Common/back CSS */
.box-board-nav {
  /* align-items: center; */
  background: var(--foundation-background-color);
  border: 0.0625rem solid var(--contents-primary-color);
  width: 20rem;
  height: var(--space-44) - 0.0625rem;
  margin: var(--space-8) 0 var(--space-4);
  align-items: center;
  justify-content: center;

  .icon-board-nav--left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: var(--space-12);
    margin-inline-end: var(--space-12);

    .icon-start-left--link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .box-board-nav--userinfo {
      display: inline-flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: var(--space-40);
      line-height: 1;
    }

    .box-board-callnmorebutton {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .icon-board-call {
      }

      .icon-board-morebutton {
      }
    }
  }
}
