@import "/public/common/mini-reset.css";
@import "/src/theme.css";

body {
  background-color: var(--contents-tertiary-color);
  margin: var(--space-20);
}

h1 {
  color: var(--contents-color);
  margin-block: var(--space-32);

  &::before {
    content: "🎁";
    margin-inline-end: var(--space-8);
  }

  strong {
    font-size: var(--space-16);

  }
}

.container {
  --columns: 1;

  color: var(--contents-primary-color);
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(350px, 1fr));
  gap: var(--space-32);

  @media (min-width: 48rem) {
    --columns: 2;
  }

  @media (min-width: 80rem) {
    --columns: 4;
  }


  .group {
    background-color: var(--foundation-background-color);
    padding: var(--space-16);
    border-radius: var(--space-8);

    h2 {
      margin-block: var(--space-16);
      color: var(--contents-tertiary-color);
      font-size: var(--space-28);

      &::before {
        content: "🍄";
        margin-inline-end: var(--space-8);
      }
    }

    ul {
      columns: 2;
      column-rule: 1px solid var(--contents-tertiary-color);
      column-gap: var(--space-64);
      list-style-type: none;
    }

    li {
      margin-block: var(--space-8);
    }

    .component-box--light {
      height: var(--space-16);
      display: flex;
      align-items: center;
      margin-bottom: var(--space-4);

      .component-box--light__text {
        height: 100%;
        color: var(--contents-tertiary-color);
        margin-left: var(--space-2);
      }
    }

    .component-box--dark {
      height: var(--space-16);
      display: flex;
      align-items: center;

      .component-box--dark__text {
        height: 100%;
        color: var(--contents-primary-color);
        margin-left: var(--space-8);
      }
    }

    .text--light {
      color: var(--dark-contents-secondary-color)
    }

    .text--dark {
      color: var(--dark-contents-color);
    }

    .card-component {
      width: 19.9375rem;
      height: 7.875rem;
      border: 1px solid var(--contents-primary-color);
      margin: var(--space-8) 0;
      padding: var(--space-12);
      position: relative;

      .component-box--badge {
        width: var(--space-56);
        height: var(--space-16);
        background: var(--contents-tertiary-color);
        border-radius: var(--space-4);
        padding: 0 var(--space-4);
        color: var(--contents-color);
        text-align: center;
      }

      .card-component-text--wrapper {
        margin-top: var(--space-4);
      }

      .people--count {
        position: absolute;
        bottom: var(--space-12);
        right: var(--space-12);
        color: var(--dark-contents-secondary-color);

        &>span {
          margin-left: var(--space-8);
        }
      }

      .hide {
        display: none;
      }
    }
  }
}