@import "/public/common/mini-reset.css";

body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1.875rem;
}

/* 분자 단위 컴포넌트 */
h1 {
  font-size: 1.5rem;
}

.box-wrapper {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(350px) auto auto auto;
  gap: 1.875rem;

  .unit-box {
    border: .8px solid rgb(113, 110, 110);
    padding: 1.5625rem;
    border-radius: .625rem;

    &>svg {
      margin: 0 .625rem;
    }
  }
}

/* 원자 단위 컴포넌트 */
.unit-content--box {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;

}

.component-box--light {
  height: .875rem;
  display: flex;
  align-items: center;

  .component-box--light__text {
    align-self: last baseline;
    font-size: .6875rem;
    color: #B1B4C3;
    margin-left: .125rem;

  }
}

.component-box--dark {
  height: .875rem;
  display: flex;
  align-items: center;

  .component-box--dark__text {
    height: 100%;
    align-self: flex-start;
    font-size: .9063rem;
    color: currentColor;
    margin-left: .5rem;
  }
}

.component-box--badge {}

/* 조직체 단위 컴포넌트 */
h3 {
  font-size: 1.5rem;
}