@import '/src/theme.css';
@import '../../public/common/mini-reset.css';
@import '../../public/common/a11y.css';

/* Header */

.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-main--region-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: var(--foundation-background-color);
  padding-left: var(--space-20);
  padding-right: var(--space-20);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.region-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--contents-primary-color);
  background-color: var(--foundation-background-color);
}

.icon-wrapper-main-region {
  display: flex;
  gap: var(--space-8);
  height: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 웹접근성 버튼 */

.dropbtn {
  padding: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: var(--space-2);
  min-width: 10.4569rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #121212;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Banner */
.main-banner {
  background: url('https://via.placeholder.com/400x200') center/cover;
  background-color: var(--contents-tertiary-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 153px 0px 20px;
  color: var(--foundation-background-color);
  position: relative;
}

.text-box-main {
  margin-bottom: var(--space-8);
  width: 150px;
}

.text-box-final {
  margin-top: var(--space-64);
}

.banner-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Navigation */

.main-nav {
  padding: 0px;
  position: sticky;
  top: 37px;
}

.nav-main-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 37px;
  background-color: var(--foundation-primary-color);
}

.nav-three-items {
  height: 37px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-48);
}

.navitem--inactive {
  background-color: var(--foundation-primary-color);
  color: var(--contents-tertiary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 9px;
  white-space: nowrap;
}

.navitem--active {
  background-color: var(--foundation-primary-color);
  color: var(--foundation-background-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 9px;
  border-bottom: 1px solid var(--foundation-background-color);
  white-space: nowrap;
}

/* Main Content */
.main-main {
  padding: 12px;
  max-width: 2400px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--foundation-background-color);
}

.main-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

@media (min-width: 1136px) {
  .main-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 1135px) {
  .main-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.anchor-main-list-storyfield {
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 138px; */
}

.main-list-storyfield {
  width: 138px;
  height: 171px;
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.thumbnail-storyfield-rounded-box {
  width: 138px;
  height: 104px;
  border-radius: 8px;
  background-color: var(--contents-secondary-color);
}

.text-wrapper-storyfield {
  width: 138px;
  height: 55px;
  display: flex;
  flex-direction: column;
}

.title-storyfield {
  width: 138px;
  height: 34px;
  display: flex;
  flex-direction: column;
}

.text-storyfield {
  color: var(--contents-primary-color);
  height: 17px;
  line-height: 15px;
  font-size: 8.5px;
}

.info-text-storyfield {
  color: var(--contents-secondary-color);
  height: 17px;
  line-height: 15px;
  font-size: 8.5px;
}

/* Footer */
.main-footer {
  display: flex;
  justify-content: space-around;
  background: var(--foundation-background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  /* height: 100px; */
}

.nav-start-common--list-item {
  align-items: center;
  background: var(--foundation-background-color);
  border: 0.0625rem solid var(--contents-primary-color);
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--space-8) var(--space-12) var(--space-24) var(--space-12);
  width: 100%;
}

.item-start-common--nav-items-my-text {
  color: var(--contents-primary-color);
}

.item-start-common--nav-items-chat-text {
  color: var(--contents-primary-color);
}

.item-start-common--nav-items-map-text {
  color: var(--contents-primary-color);
}

.item-start-common--nav-items-file-text {
  color: var(--contents-primary-color);
}

.item-start-common--nav-items-home-text {
  color: var(--contents-primary-color);
}