@import '/src/theme.css';
@import '/public/common/a11y.css';
@import '/public/common/mini-reset.css';

/* 기본 스타일 */
body {
  background-color: var(--foundation-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: var(--space-28);
  /* min-width: 500px; */

  /* 500px 미만 width값 지정으로 자연스러운 반응형 구현 목적 */
  @media (max-width: 500px) {
    justify-content: center;
  }

  @media (min-width: 500px) {
    justify-content: center;
  }

  @media (min-width: 1136px) {
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: var(--contents-primary-color);

  &:focus {
    outline: 0.0938rem solid var(--contents-primary-color);
  }
}

/** 헤더 **/
header {
  width: 21.875rem;
  padding: 10px;
  margin: 0 0 var(--space-16);
}

/* 로고 이미지 */
.image-start-logo {
  width: 5rem;
  height: var(--space-38);

  & > a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

/* 제목 */
.text-start-title {
  width: 100%;
  color: var(--contents-primary-color);
  text-align: left;
}

/** 메인 **/
/* 전체 컨테이너 */
.container-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 0 var(--space-16) var(--space-16);
}

/* 아이디, 비밀번호 입력창 */
.login-form {
  width: 21.875rem;
}

.input-group {
  margin-bottom: var(--space-12);
  position: relative;
}

input {
  width: 100%;
  padding: var(--space-28) var(--space-20) var(--space-8);
  border: none;
  border-radius: var(--space-4) var(--space-4) 0 0;
  border-bottom: 0.05rem solid gray;
  font-size: 1.0625rem;
  position: relative;
}

input:focus {
  border-bottom: 0.0938rem solid var(--foundation-secondary-color);
  outline: none;
}

label {
  position: absolute;
  top: var(--space-16);
  left: var(--space-20);
  color: var(--contents-secondary-color);
  transition: 0.3s cubic-bezier(0.1, 0, 0.8, 1);
  /* transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); 귀엽운 버전 */
  pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 45%;
  font-size: var(--space-12);
  transform: translateY(-100%);
  color: var(--contents-secondary-color);
  opacity: 1;
}

/* 에러 안내 문구 */
.error-message {
  padding: var(--space-4) var(--space-2) 0;
  color: red;
  font-size: 13px;
  display: none;
}

input:invalid + .error-message {
  display: block;
}

/** 로그인 옵션 **/
.box-start-loginoptions {
  width: 18.75rem;
  padding: 0 0 var(--space-24);
  display: flex;
  justify-content: space-between;
}

/* 자동 로그인 */
.checkbox.svg {
  display: inline-flex;
  align-items: center;
  column-gap: 0.375rem;
  position: relative;
  padding: var(--space-8) 0;

  input {
    position: absolute;
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    width: var(--space-20);
    inline-size: var(--space-20);
    height: var(--space-20);
    block-size: var(--space-20);
    appearance: none;
    border-radius: var(--space-4);

    /* 자동 로그인 input 체크박스 하단 border 제거 */
    &[type='checkbox'] {
      border-bottom: none;
    }
  }

  label {
    display: contents;
  }
}

.checkbox.svg input:not(:checked) + label .svg--area,
.checkbox.svg input:not(:checked) + label .svg--border {
  fill: var(--contents-tertiary-color);
}

.checkbox.svg input:not(:checked) + label .svg--mark {
  fill: var(--foundation-background-color);
}

/* 약관동의 */
.text-start-signup {
  white-space: nowrap;

  .text-start-infolink {
    text-decoration: underline;
    color: var(--dark-foundation-secondary-color);
  }

  &:focus {
    width: 21.875rem;
    outline: 0.0938rem solid var(--contents-primary-color);
  }
}

/* 아이디, 비밀번호 찾기 */
.box-start-findidpw {
  & > :first-child {
    margin: 0 var(--space-2) 0 0;
  }

  & > :nth-child(3) {
    margin: 0 0 0 var(--space-2);
  }

  .text-start-verticalbar {
    color: var(--contents-secondary-color);
  }
}

button,
.button {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* 회원가입 버튼 */
.button--policy {
  background-color: var(--dark-foundation-secondary-color);
  color: var(--foundation-background-color);
  margin: var(--space-8) 0 var(--space-8);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border: 0.0625rem solid var(--dark-foundation-secondary-color);

  &:focus {
    outline: 0.125rem solid var(--contents-primary-color);
  }

  &:active {
    transform: scale(0.999);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
}

/* 간편 로그인 */
.divider {
  display: flex;
  align-items: center;
  margin: var(--space-20) 0;
}

.divider div {
  flex: 1;
  height: var(--space-8);
  background-color: var(--contents-secondary-color);
}

.divider span {
  padding: 0 1rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.sns-buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-20);

  .button-start-sns {
    width: var(--space-40);
    height: var(--space-40);
  }
}

.button-start-sns {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--space-56);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0437rem solid var(--contents-tertiary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sns-google svg {
  width: 1.25rem;
  height: 1.25rem;
}

.sns-facebook {
  background-color: #1877f2;
  color: white;
  font-size: var(--space-20);
  font-weight: bold;
}

.sns-kakao {
  background-color: #fae100;
  color: black;
  font-weight: bold;
}

.sns-naver {
  background-color: #03c75a;
  color: white;
  font-weight: bold;
}

.sns-apple {
  background-color: black;
  color: white;
}

/* 푸터 */
cite {
  color: var(--contents-secondary-color);
  justify-content: left;
  display: none;
}
