/* src/style.css */
/* CSS 스타일을 작성해 주세요. */
@import "../public/common/mini-reset.css";
@import "./theme.css";
@import "./styles/component-start.css";
@import "../public/common/a11y.css";


/* main page style */
.main-page {
  background-color: var(--foundation-background-color);
  color: var(--contents-secondary-color);
  font: var(--font-family);
}
